<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
  <div class="flex-w p-b">
    <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
      <h4 class="s-text12 p-b-30">
        VỀ CHÚNG TÔI
      </h4>

      <div>
        <p class="s-text7 w-size27">
		  <p>Công ty thời trang nam số 1 Việt Nam</p>
		  <p>Địa chỉ : 123 Nguyễn Lương Bằng, Đà Nẵng</p>
		  <p>Số điện thoại : 0123456789</p>
        </p>
      </div>
    </div>

    <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Danh mục
      </h4>

      <ul>
        <li class="p-b-9">
          <a href="#" class="s-text7">
            Thời trang công sở
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Thời trang thể thao
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Thời trang mùa hè
          </a>
        </li>
		  <li class="p-b-9">
          <a href="#" class="s-text7">
            Thời trang mùa đông
          </a>
        </li>
        <li class="p-b-9">
          <a href="#" class="s-text7">
            Phụ kiện
          </a>
        </li>
      </ul>
    </div>

    <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Chính sách bán hàng
      </h4>

      <ul>
        <li class="p-b-9">
          <a href="#" class="s-text7">
            Hướng dẫn mua hàng
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Chính sách giao hàng
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Chính sách bảo hành
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Bảo mật thông tin khách hàng
          </a>
        </li>
      </ul>
    </div>

    <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Tư vấn
      </h4>

      <ul>
        <li class="p-b-9">
          <a href="#" class="s-text7">
            Tư vấn phong cách
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Tư vấn chọn size
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Hỏi đáp
          </a>
        </li>
      </ul>
    </div>

    <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
      <h4 class="s-text12 p-b-30">
        Nhận tư vấn
      </h4>
      <form>
        <div class="effect1 w-size9">
          <input
            class="s-text7 bg6 w-full p-b-5"
            type="text"
            name="email"
            placeholder="email@example.com"
          />
          <span class="effect1-line"></span>
        </div>

        <div class="w-size2 p-t-20">
          <!-- Button -->
          <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
            Nhận tư vấn
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>
<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
  </span>
<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>